In [3]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup as bs
import requests
import os
import json
from sqlalchemy import create_engine
from pprint import pprint
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
import time
import pymongo
# config.py containing the API used and MongoDB  test user & password
from config import game_API, user, password

In [147]:
# First Dataset in the form of .csv file...

In [16]:
csv_file = "Resources/Steam_Play_Time_in_Hours_Full_Data_data.csv"
df = pd.read_csv(csv_file)

In [17]:
df

,Game,User ID,Type,Hours
0,007 Legends,46055854,play,0.7
1,0RBITALIS,11940338,play,0.6
2,0RBITALIS,86055705,play,0.3
3,0RBITALIS,93030550,play,0.3
4,1... 2... 3... KICK IT! (Drop That Beat Like a...,49893565,play,2.4
...,...,...,...,...
70484,Zuma's Revenge,12144171,play,1.2
70485,Zuma's Revenge,69954842,play,9.3
70486,Zuma's Revenge,110899658,play,126.0
70487,Zuma's Revenge! - Adventure,11794760,play,0.2
70488,Zuma's Revenge! - Adventure,20772968,play,1.7

In [18]:
del df["User ID"]

In [19]:
del df["Type"]

In [20]:
df

                                                    Game  Hours
0                                            007 Legends    0.7
1                                              0RBITALIS    0.6
2                                              0RBITALIS    0.3
3                                              0RBITALIS    0.3
4      1... 2... 3... KICK IT! (Drop That Beat Like a...    2.4
...                                                  ...    ...
70484                                     Zuma's Revenge    1.2
70485                                     Zuma's Revenge    9.3
70486                                     Zuma's Revenge  126.0
70487                        Zuma's Revenge! - Adventure    0.2
70488                        Zuma's Revenge! - Adventure    1.7

[70489 rows x 2 columns]

In [21]:
# Grouping the data
group_df = df.groupby(df["Game"])
avg_hour = group_df['Hours'].mean().round(2)

In [22]:
data = pd.DataFrame({"Average Hours": avg_hour})
data

                                                    Average Hours
Game
007 Legends                                                  0.70
0RBITALIS                                                    0.40
1... 2... 3... KICK IT! (Drop That Beat Like an...           4.00
10 Second Ninja                                              2.95
10,000,000                                                   3.60
...                                                           ...
rymdkapsel                                                   1.10
sZone-Online                                                 0.98
the static speaks my name                                    0.25
theHunter                                                    2.49
theHunter Primal                                            21.48

[3598 rows x 1 columns]

In [23]:
#Sorting the Data by Average Hour...
data.sort_values(by='Average Hours', ascending=False)

                                              Average Hours
Game
Eastside Hockey Manager                             1295.00
Baldur's Gate II Enhanced Edition                    475.26
FIFA Manager 09                                      411.00
Perpetuum                                            400.98
Football Manager 2014                                391.98
...                                                     ...
Quake Mission Pack 2 Dissolution of Eternity           0.10
Dark Echo                                              0.10
Critical Mass                                          0.10
Inside a Star-filled Sky                               0.10
Victory At Sea                                         0.10

[3598 rows x 1 columns]

In [ ]:
# Another Data Source in the form of .csv using an external link...

In [24]:
#Fetch data usig the Url..
game_data = pd.read_csv('https://query.data.world/s/pcp26yrazzcniqxsd6sfqyfxrlbsh5')

In [29]:
# Getting the Required Columns only...
game_find = game_data[['ResponseName', 'PCMinReqsText']] 
game_find

,ResponseName,PCMinReqsText
0,Counter-Strike,Minimum: 500 mhz processor 96mb ram 16mb video...
1,Team Fortress Classic,Minimum: 500 mhz processor 96mb ram 16mb video...
2,Day of Defeat,Minimum: 500 mhz processor 96mb ram 16mb video...
3,Deathmatch Classic,Minimum: 500 mhz processor 96mb ram 16mb video...
4,Half-Life: Opposing Force,Minimum: 500 mhz processor 96mb ram 16mb video...
...,...,...
13352,Baseball Riot,Minimum:OS: Windows XP / Vista / 7 / 8 / 10Pro...
13353,Passage 4,Minimum:OS: Windows 2000/XP/Vista/7/8/10Proces...
13354,Piximalism,Minimum:OS: Microsoft(r) Windows(r) XP / Vista...
13355,Technoball,Minimum:OS: Windows 7 (64-bit)Processor: 2.5 G...
13356,Ghostlight Manor,Minimum:OS: Windows 7 64 bitProcessor: Intel C...

In [30]:
# Columns Rename.....

game_rename = game_find.rename(columns={'ResponseName':'Game',
                          'PCMinReqsText': 'Minimum PC Requirements'})

In [31]:
game_rename

,Game,Minimum PC Requirements
0,Counter-Strike,Minimum: 500 mhz processor 96mb ram 16mb video...
1,Team Fortress Classic,Minimum: 500 mhz processor 96mb ram 16mb video...
2,Day of Defeat,Minimum: 500 mhz processor 96mb ram 16mb video...
3,Deathmatch Classic,Minimum: 500 mhz processor 96mb ram 16mb video...
4,Half-Life: Opposing Force,Minimum: 500 mhz processor 96mb ram 16mb video...
...,...,...
13352,Baseball Riot,Minimum:OS: Windows XP / Vista / 7 / 8 / 10Pro...
13353,Passage 4,Minimum:OS: Windows 2000/XP/Vista/7/8/10Proces...
13354,Piximalism,Minimum:OS: Microsoft(r) Windows(r) XP / Vista...
13355,Technoball,Minimum:OS: Windows 7 (64-bit)Processor: 2.5 G...
13356,Ghostlight Manor,Minimum:OS: Windows 7 64 bitProcessor: Intel C...

In [32]:
# Merge the two tables...

merge_df = pd.merge(data,game_rename, on='Game')
merge_data = merge_df[['Game','Minimum PC Requirements','Average Hours']]
merge_data

,Game,Minimum PC Requirements,Average Hours
0,0RBITALIS,Minimum:OS: Win XP / Win 7 / Win 8Processor: 2...,0.40
1,1... 2... 3... KICK IT! (Drop That Beat Like a...,OS: Windows Vista 7 8Processor: 1.7GHz Intel/A...,4.00
2,10 Second Ninja,Minimum:OS: Windows XP/Vista/7/8Processor: Sin...,2.95
3,100% Orange Juice,Minimum:OS: Windows XP/Vista/7/8/10Processor: ...,8.70
4,1000 Amps,OS: Windows XP Or Later (32 Bit Recommended)Pr...,0.10
...,...,...,...
1951,resident evil 4 / biohazard 4,Minimum:OS: Windows XP/ Vista(r) Windows 7 Win...,6.86
1952,rymdkapsel,Minimum:OS: Windows XP or laterProcessor: 1.5 ...,1.10
1953,sZone-Online,Minimum:OS: Windows 7/8/10Processor: 32 GHzMem...,0.98
1954,the static speaks my name,Minimum:OS: Windows XP+Graphics: Graphics card...,0.25
1955,theHunter,Minimum:OS: Windows (r) 10/8/7Processor: Intel...,2.49

In [33]:
# Replace the empty cells with NaN....

merge_data = merge_data.replace(r'^\s*$', np.NaN, regex=True)

In [34]:
# Drop all the NaN....

merge_table = merge_data.dropna()

In [35]:
merge_table = merge_table.sort_values(by='Average Hours', ascending = False)
merge_table

,Game,Minimum PC Requirements,Average Hours
527,Eastside Hockey Manager,Minimum:OS: Windows XP Vista 7 8Processor: Int...,1295.00
1169,Perpetuum,Minimum:OS: Windows XPProcessor: 2 GHz Intel o...,400.98
669,Freaking Meatbags,Minimum:OS: Vista or higherProcessor: Dual Cor...,331.00
1909,X-Plane 10 Global - 64 Bit,Minimum:OS: Windows XP / Vista / 7Processor: D...,268.02
361,Counter-Strike,Minimum: 500 mhz processor 96mb ram 16mb video...,236.38
...,...,...,...
1252,Quarries of Scred,Minimum:OS: Windows 7Processor: 1GHzMemory: 1 ...,0.10
1883,Wildlife Park 2 - Marine World,Minimum:OS: 10/8/7/VISTA/2000/XPProcessor: Int...,0.10
779,Habitat,Minimum:OS: Windows 7Processor: 2 GHz processo...,0.10
265,CRYENGINE,Minimum:OS: Windows Vista SP1 Windows 7 or Win...,0.10
396,D.U.S.T.,Minimum:OS: Windows 7 64-bit Windows 8 64-bitP...,0.10

In [ ]:
# Third Dataset taken from the Sql server...

In [36]:
# Create engine for getting the data from the database made in postgres.
engine = create_engine('postgresql://bonus_part:bonus@localhost:5432/Game_db')

# Connecting the engine for get the data from the table.
connection = engine.connect()

In [37]:
# Select all the values form the database.....

game = pd.read_sql("SELECT * FROM video_game_sales",connection)

In [38]:
games = game.rename(columns={"Name":"Game"})
games

                                    Game Platform
0                          [Prototype 2]       PC
1                 007: Quantum of Solace       PC
2                                15 Days       PC
3                              1701 A.D.       PC
4    18 Wheels of Steel: Extreme Trucker       PC
..                                   ...      ...
969                  You Don't Know Jack       PC
970                           Zoo Tycoon       PC
971                         Zoo Tycoon 2       PC
972    Zoo Tycoon 2: Ultimate Collection       PC
973      Zoo Tycoon: Complete Collection       PC

[974 rows x 2 columns]

In [40]:
# Merge the tables again with the Sql data table.....

merge_table_f = pd.merge(merge_table,games, on="Game")

In [41]:
# Replace and drop the empty and NaN..

merge_drop = merge_table_f.replace(to_replace="N/A",value="NaN")
merge_drop = merge_table_f.dropna()

In [42]:
merge_top = merge_drop.sort_values("Average Hours", ascending=False)

In [43]:
# Save the table into a .csv form....

merge_top.to_csv("merge.csv", index=False)

In [44]:
# Display the table with three different dataset....
merge_top

,Game,Minimum PC Requirements,Average Hours,Platform
0,Imperial Glory,Minimum:OS: Windows XPProcessor: 1 GHz Process...,170.00,PC
1,Stronghold Kingdoms,OS: Windows XP SP2 Windows Vista SP1 or Window...,100.07,PC
2,Grand Theft Auto V,Minimum:OS: Windows 8.1 64 Bit Windows 8 64 Bi...,85.34,PC
3,Football Manager 2016,Minimum:OS: Windows Vista 7 8 10Processor: Int...,85.06,PC
4,NBA 2K16,Minimum:OS: Windows 7 64-bit Windows 8.1 64-bi...,82.78,PC
...,...,...,...,...
141,Bejeweled 2 Deluxe,Minimum Requirements: Windows 98/ME/2000/XP 12...,0.80,PC
142,15 Days,Minimum:OS: Windows XP / Vista / 7 / 8 32 or 6...,0.50,PC
143,Alone in the Dark,Minimum:OS: Windows(r) XP/Vista 32 64 bitProce...,0.40,PC
144,The 7th Guest,Minimum:OS: Windows XP / Vista / 7Processor: 1...,0.25,PC
145,Praetorians,Minimum:OS: Windows XPProcessor: 1 GHz Process...,0.15,PC

In [ ]:
# Fourth Dataset fetched using a API....

In [45]:
url = "https://api.rawg.io/api/games"

params = {
    'key': game_API
    
    }

In [ ]:
platform =[]
release = []
rating = []
genres = []

# Pass the Game Name into the for loop to search for the data.... 

for row in merge_top['Game']:
    params['search'] = f"{row}"
    response = requests.get(url,params=params)
    game_info = response.json()
    
    # Fetch the Data from the site....
    
    print(f"Gather platform name for: {row}")
    pprint(f"Platform: {game_info['results'][0]['platforms'][0]['platform']['name']}")
    pprint(f"The Released Date is: {game_info['results'][0]['released']}")
    pprint(f"The Rating is: {game_info['results'][0]['rating']}")
    pprint(f"The Generes is: {game_info['results'][0]['genres'][0]['name']}")
    
    #pprint(game_info['results'][0])
    try:
        # Print the Data found from the Site using API....
        
        print("----------------------------------------------------------------------")
        print("Data Found")
        platform.append(game_info['results'][0]['platforms'][0]['platform']['name'])
        release.append(game_info['results'][0]['released'])
        rating.append(game_info['results'][0]['rating'])
        genres.append(game_info['results'][0]['genres'][0]['name'])
        print("----------------------------------------------------------------------")
    except:
        # If data not found on site append the list with NaN....
        
        print("Data Not Found")
        platform.append("NaN")
        release.append("NaN")
        rating.append("NaN")
        genres.append("NaN")

In [ ]:
# Create new Tables into the merge table to store the new data found....

merge_top["Platform"]  = platform
merge_top["Rating"] = rating
merge_top["Release Date"] = release
merge_top["Genres"] = genres

merge_top

In [ ]:
merge_two = merge_top[['Game',"Platform",'Release Date','Genres','Rating','Average Hours','Minimum PC Requirements']]
merge_two

In [ ]:
# Please do read this first...
'''Before you Run the Splinter Part please note that, I have created two different website url to scrape the and
website the obtain the data.
So, when you Run the cell Either run the Part- I or Part- II at a time...
And not the both cells simantinuosly...'''

In [152]:
#Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430

[WDM] - Driver [C:\Users\rp709\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [ ]:
# A list created to make a url to fetch data for Part- I

In [118]:
table_for_url = merge_two
game_list = []
#game_list.append(m['Game'])
game_list = lambda x: x.replace(" ", "-")

game_l = list(map(game_list, table_for_url['Game']))
#game_l
[y.lower() for y in game_l]


#type(game_l)

['imperial-glory',
 'stronghold-kingdoms',
 'grand-theft-auto-v',
 'football-manager-2016',
 'nba-2k16',
 'star-trek-online',
 'rocksmith-2014',
 'mortal-kombat-x',
 'apb-reloaded',
 'terraria',
 'fallout-4',
 'borderlands-2',
 'hearts-of-iron-iii',
 'farming-simulator-2011',
 'nba-2k13',
 'supreme-commander-2',
 'mass-effect-2',
 'hotel-giant-2',
 'port-royale-2',
 'left-4-dead',
 'euro-truck-simulator-2',
 'left-4-dead-2',
 'x-rebirth',
 'mass-effect',
 'pillars-of-eternity',
 'eve-online',
 'dungeon-defenders',
 'test-drive-unlimited-2',
 'far-cry-3',
 'saints-row-2',
 'sniper-elite',
 'sacred-3',
 'mount-&-blade',
 'mafia-ii',
 'cities-in-motion',
 'torchlight',
 'company-of-heroes-2',
 'the-secret-world',
 'max-payne-3',
 'grand-theft-auto-iv',
 'portal-2',
 'portal-2',
 'portal-2',
 'saints-row-iv',
 'dishonored',
 'tropico-5',
 'lost-horizon',
 'just-cause-2',
 'fallout-3',
 'bioshock-infinite',
 'grid-2',
 'tomb-raider',
 'project-cars',
 'two-worlds-ii',
 'game-of-thrones',
 'alan-wake',
 'overlord-ii',
 'homeworld-remastered-collection',
 'magicka',
 'dirt-rally',
 'the-book-of-unwritten-tales',
 'company-of-heroes',
 'duke-nukem-forever',
 'metro-2033',
 'grid-autosport',
 'elven-legacy',
 'the-evil-within',
 'front-mission-evolved',
 'f.e.a.r.-3',
 'the-testament-of-sherlock-holmes',
 'take-on-helicopters',
 'worms-reloaded',
 'the-darkness-ii',
 'crysis',
 'devil-may-cry-4',
 'dungeon-siege-iii',
 'airline-tycoon-2',
 'sonic-&-all-stars-racing-transformed',
 'max-payne',
 'mini-ninjas',
 'street-fighter-x-tekken',
 'titan-quest',
 'machinarium',
 'goodbye-deponia',
 'goodbye-deponia',
 'wildlife-park-3',
 'split/second',
 'grand-theft-auto-iii',
 'the-longest-journey',
 'railroad-tycoon-3',
 'botanicula',
 'syberia',
 'oil-rush',
 'jack-keane',
 'sacred-gold',
 'hospital-tycoon',
 'tomb-raider-ii',
 'euro-truck-simulator',
 'world-of-zoo',
 'bejeweled-2-deluxe',
 '15-days',
 'alone-in-the-dark',
 'the-7th-guest']

In [ ]:
# Part - I
# This is Part- I, here I have used IGDB.com url to fetch the data.... 
# If you are running this part-I than please don't run Part -II....

In [153]:
developer = []
image_link = []

# Pass the list created into the loop to find the game on IGDB website.... 

for b in [y.lower() for y in game_l]:    
    igdb_url = f"https://www.igdb.com/games/{b}"
    browser.visit(igdb_url)
    html = browser.html
    soup = bs(html, 'html.parser')
    time.sleep(3)
    try:
        # Fetch the Data...
        
        game_developer = soup.find('a', class_= 'block').get_text()
        game_img = soup.find('div', class_= 'media-thumbs-item media-thumbs-item-image')
        game_image = game_img.find('img')['src']
        print("--------------------------------------------------------------------")
        pprint(f" The Game Developer is: {game_developer}")
        pprint(f"The Url for Game Image is: {game_image}")
        print("--------------------------------------------------------------------")
        developer.append(game_developer)
        image_link.append(game_image)
    except:
        
        # If Data is not available append the list with NaN..
        
        print("NOT FOUND")
        developer.append("NaN")
        image_link.append("NaN")

--------------------------------------------------------------------
' The Game Developer is: Pyro Studios'
('The Url for Game Image is: '
 'https://images.igdb.com/igdb/image/upload/t_thumb_widescreen_large/uaglwgzlqrfwbgyy9efq.jpg')
--------------------------------------------------------------------

In [ ]:
# Part - II 
# In this part I have used Wikipedia wwebsite to fetch the data using scrapping...
# Please Make sure you have not Run Part - I before runnig the cells below..

In [ ]:
developer = []
image_link = []

# Pass the Game name into the for loop to obtain the data....

for x in merge_two['Game']:
    wiki_url = f"https://en.wikipedia.org/wiki/{x}"
    browser.visit(wiki_url)
    html = browser.html
    soup = bs(html, 'html.parser')
    time.sleep(3)
    try:
        game_link = soup.find('td', class_ = 'infobox-data')
        image = soup.find('td', class_='infobox-image')
        image_url = image.find('img')['src']
        game_developer = game_link.find('a').get_text()
        print("--------------------------------------------------")
        print(f"Image url is: {image_url}")
        print(f"Game Developer is :{game_developer}")
        developer.append(game_developer)
        image_link.append(image_url)
        print("--------------------------------------------------")
    except:
        print("NOT FOUND")
        developer.append("NaN")
        image_link.append("NaN")

In [154]:
# Quit the browser..

browser.quit()

In [ ]:
# Make new columns to store the data fetched using scrapping and splinter method...

merge_two["Developer"] = developer
merge_two['Image Link'] = image_link
merge_two

In [ ]:
# Remove the NaN values if their are any in the table...
# Runs perfect for the Part - II, But need to be looked for the Part - I 

merge_clean = merge_two.loc[merge_two['Developer'] != "NaN"]

In [ ]:
merge_final = merge_clean

In [ ]:
# Display the Final table ....
merge_final

In [ ]:
# Save the final table as an excel to pass the data into MogoDatabase...

merge_save = merge_final.to_excel("merge_final.xlsx", index = False)

In [4]:
import openpyxl

# Read the excel file for storing the data into the mongo database...
merge_mongo = pd.read_excel("merge_final.xlsx")
merge_mongo

,Game,Platform,Release Date,Genres,Rating,Average Hours,Minimum PC Requirements,Developer,Image Link
0,Imperial Glory,PC,2005-07-07,Strategy,4.21,170.00,Minimum:OS: Windows XPProcessor: 1 GHz Process...,Pyro Studios,//upload.wikimedia.org/wikipedia/en/thumb/9/9e...
1,Stronghold Kingdoms,PC,2011-12-01,Strategy,2.59,100.07,OS: Windows XP SP2 Windows Vista SP1 or Window...,Firefly Studios,//upload.wikimedia.org/wikipedia/en/thumb/2/26...
2,Grand Theft Auto V,PC,2013-09-17,Adventure,4.48,85.34,Minimum:OS: Windows 8.1 64 Bit Windows 8 64 Bi...,Rockstar North,//upload.wikimedia.org/wikipedia/en/thumb/a/a5...
3,Football Manager 2016,PC,2015-11-13,Strategy,4.16,85.06,Minimum:OS: Windows Vista 7 8 10Processor: Int...,Sports Interactive,//upload.wikimedia.org/wikipedia/en/thumb/a/a5...
4,NBA 2K16,PC,2015-09-25,Sports,2.95,82.78,Minimum:OS: Windows 7 64-bit Windows 8.1 64-bi...,Visual Concepts,//upload.wikimedia.org/wikipedia/en/thumb/e/e0...
...,...,...,...,...,...,...,...,...,...
98,World of Zoo,PC,2009-10-26,Simulation,0.00,1.20,OS: Microsoft Windows XP/VistaProcessor: Intel...,Blue Fang Games,//upload.wikimedia.org/wikipedia/en/thumb/a/a4...
99,Bejeweled 2 Deluxe,PC,2006-08-30,Casual,3.55,0.80,Minimum Requirements: Windows 98/ME/2000/XP 12...,PopCap Games,//upload.wikimedia.org/wikipedia/en/d/d2/Bejew...
100,15 Days,PC,2010-06-24,Casual,0.00,0.50,Minimum:OS: Windows XP / Vista / 7 / 8 32 or 6...,House of Tales,//upload.wikimedia.org/wikipedia/en/thumb/1/12...
101,Alone in the Dark,PC,2008-01-01,Adventure,3.32,0.40,Minimum:OS: Windows(r) XP/Vista 32 64 bitProce...,Survival horror,//upload.wikimedia.org/wikipedia/en/thumb/c/c2...
102,The 7th Guest,PC,1993-04-01,Adventure,3.39,0.25,Minimum:OS: Windows XP / Vista / 7Processor: 1...,Trilobyte,//upload.wikimedia.org/wikipedia/en/thumb/6/6b...

In [ ]:
# MongoDB Connection and Collection creation to store the Final table into the Mongo Cloud....

In [49]:
conn = f"mongodb+srv://{user}:{password}@cluster0.lmt7q.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
client = pymongo.MongoClient(conn)

# Create Database....
db = client['Game_db']

# Create Collection....
mycol = db['game_data']

# If collection already present drop the collection...
if 'game_data' in db.list_collection_names():
    db['game_data'].drop()

In [ ]:
# Insert the excel file data into the database collection....

mydata = mycol.insert_many(merge_mongo.to_dict('records'))
#collection = db.items

In [50]:
# Check for the available collection in the Database...

db.list_collection_names()

['game_data']